@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(136,136,136, 0.281);
}
::-webkit-scrollbar-thumb:hover
{
  background: #555;
}

.lottieAnimation
{
  width: 70px;
  margin-left: 0px;
  margin-bottom: 15px;
}